<div class="container" @ref="@Container">
    @ChildContent
    <Split DragManager="@DragManager" Position="@Split" IsVertical="@IsVertical" ShowThumb="@ShowThumb" SplitColor="@SplitColor" SplitWidth="@SplitWidth"></Split>
</div>
