@page "/accounts"
@using jNet.Accounts.Code;
@using jNet.Accounts.Shared.Model

<h3>Accounts</h3>
<div>
    <AsyncWrapper DataPromise="@AStore.LoadTask" Context="data">
        <Tree @bind-Selected="@selected"
              GetChildren="@AStore.ChildrenOf"
              HasChildren="@AStore.AnyChildren"
              GetParent="@AStore.ParentOf"
              T="Account">
            <ChildContent>
                @context.Name
            </ChildContent>
            <NodeContent>
                <b>@context.Name</b>
            </NodeContent>
        </Tree>
    </AsyncWrapper>
    <div style="display:flex; flex-direction:column;">
        <AccountForm Account="@selected"></AccountForm>
        @if (TStore.Any())
        {
            <TransactionForm Transaction="@TStore.First()"></TransactionForm>
        }
    </div>
</div>
<ToolStrip>
    <button @onclick="@Save"><Icon I="I.Save" /></button>
    <button @onclick="@Create"><Icon I="I.MachineLearning" /></button>
    <button @onclick="@Balance"><Icon I="I.Compare" /></button>
    <button @onclick="@SetSelected"><Icon I="I.SelectAll" /></button>
</ToolStrip>
