@page "/map"
@using jNet.Mapbox

<div style="display:flex; flex-direction:column;height:100%">
    <div style="flex-basis: 50%">
        <Map Zoom="10" MapStyle="MapStyle.Outdoors" @ref="@Map">
            <PointSource SourceType="@(PointSource<Data>.Type.Point)"
                         Items="@data" T="Data"
                         Convertor="@Data2PointData"
                         @bind-Selected="@selected">
                @if (show)
                {
                    <Layer OnClicked="@(() => {})"
                           Type="@LayerType.circle"
                           Color="@System.Drawing.Color.AliceBlue" />
                }
            </PointSource>
            <Popup Item="@selected" @ref="@Popup" AutoClose="@false">
                @context?.Id
            </Popup>
        </Map>
        <button @onclick="@(()=> show = !show)">Toggle</button>
    </div>
</div>

@code
{
    bool show = true;

    Data? selected;
}
