@page "/tests"
@using jNet.Accounts.Shared.Model

@(Selected?.Name ?? "Fred")

<hr />

<AsyncWrapper DataPromise="@AStore.LoadTask" Context="data">
    @*<TestList T="Account"></TestList>*@

    <div style="display:flex;height: 400px;">
                    <input value="A" />
                        <ItemList2 Items="@data" Context="item" T="Account">
                            @item.AccountNumber: @item.Name
                        </ItemList2>
                    <input value="B" />
    </div>
</AsyncWrapper>

<ToolStrip>
    <button @onclick="@Create"><Icon I="I.MachineLearning" /></button>
    <button @onclick="@OpenPanel"><Icon I="I.OpenPane" /></button>
</ToolStrip>

