@using System.Drawing
@using jNet.Client.UI.General

<div class="divider @(IsVertical?"vertical":"horizontal")"
     style="@(IsVertical?"height":"width"): @(SplitWidth)px; @(IsVertical?"top":"left"): @(Position)px; background-color: @SplitColorHex;"
     @ref="@Divider"
     @onpointerdown="@(e=>DragManager!.OnPointerDown(Divider, e, Index))"
     @onpointerup="@(e=>DragManager!.OnPointerUp(Divider, e, Index))"
     @onpointermove="@(e=>DragManager!.OnPointerMove(Divider, e, Index))">
    @if (ShowThumb)
    {
        <div></div>
    }
</div>

@code
{
    ElementReference Divider;
    [Parameter] public int Index { get; set; } = 0;
    [Parameter] public bool IsVertical { get; set; } = false;
    [Parameter] public bool ShowThumb { get; set; } = true;
    [Parameter] public double Position { get; set; } = 50;
    [Parameter] public int SplitWidth { get; set; } = 5;
    [Parameter] public System.Drawing.Color SplitColor { get; set; } = System.Drawing.Color.Transparent;
    //[Parameter] public EventCallback<double> SplitChanged { get; set; }
    [Parameter] public DragManager? DragManager { get; set; }
    string SplitColorHex => $"#{SplitColor.R:x2}{SplitColor.G:x2}{SplitColor.B:x2}{SplitColor.A:x2}";
}